notion-n8n-monthly-close/workflows/odoo/W902_OD_VIEW_HEALTHCHECK.json
{
  "name": "odoo_view_healthcheck",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "name": "Cron Trigger - 3 AM PHT Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.insightpulseai.net/xmlrpc/2/object",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "xml",
        "bodyParametersXml": "=<?xml version=\"1.0\"?>\n<methodCall>\n  <methodName>execute_kw</methodName>\n  <params>\n    <param><value><string>odoo</string></value></param>\n    <param><value><int>{{$credentials.odooAuth.uid}}</int></value></param>\n    <param><value><string>{{$credentials.odooAuth.password}}</string></value></param>\n    <param><value><string>ir.ui.view</string></value></param>\n    <param><value><string>search_read</string></value></param>\n    <param><value><array><data>\n      <value><array><data>\n        <value><array><data>\n          <value><string>model</string></value>\n          <value><string>in</string></value>\n          <value><array><data>\n            <value><string>project.task</string></value>\n            <value><string>hr.expense.sheet</string></value>\n            <value><string>account.move</string></value>\n            <value><string>res.partner</string></value>\n          </data></array></value>\n        </data></array></value>\n      </data></array></value>\n    </data></array></value></param>\n    <param><value><struct>\n      <member>\n        <name>fields</name>\n        <value><array><data>\n          <value><string>name</string></value>\n          <value><string>model</string></value>\n          <value><string>arch_db</string></value>\n        </data></array></value>\n      </member>\n    </struct></value></param>\n  </params>\n</methodCall>",
        "options": {}
      },
      "name": "Odoo XML-RPC - Get Views",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "Odoo Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.insightpulseai.net/xmlrpc/2/object",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "xml",
        "bodyParametersXml": "=<?xml version=\"1.0\"?>\n<methodCall>\n  <methodName>execute_kw</methodName>\n  <params>\n    <param><value><string>odoo</string></value></param>\n    <param><value><int>{{$credentials.odooAuth.uid}}</int></value></param>\n    <param><value><string>{{$credentials.odooAuth.password}}</string></value></param>\n    <param><value><string>ir.model.fields</string></value></param>\n    <param><value><string>search_read</string></value></param>\n    <param><value><array><data>\n      <value><array><data>\n        <value><array><data>\n          <value><string>model</string></value>\n          <value><string>in</string></value>\n          <value><array><data>\n            <value><string>project.task</string></value>\n            <value><string>hr.expense.sheet</string></value>\n            <value><string>account.move</string></value>\n            <value><string>res.partner</string></value>\n          </data></array></value>\n        </data></array></value>\n      </data></array></value>\n    </data></array></value></param>\n    <param><value><struct>\n      <member>\n        <name>fields</name>\n        <value><array><data>\n          <value><string>name</string></value>\n          <value><string>model</string></value>\n        </data></array></value>\n      </member>\n    </struct></value></param>\n  </params>\n</methodCall>",
        "options": {}
      },
      "name": "Odoo XML-RPC - Get Model Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "Odoo Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse XML-RPC responses and validate views against model fields\nconst viewsXml = $input.first().json.body;\nconst fieldsXml = $input.all()[1].json.body;\n\n// Simple XML-RPC array parser (production: use proper XML parser)\nfunction parseXmlRpcArray(xml) {\n  // For demo: return mock data structure\n  // In production: parse XML properly with fast-xml-parser\n  return [];\n}\n\nconst views = parseXmlRpcArray(viewsXml);\nconst modelFields = parseXmlRpcArray(fieldsXml);\n\n// Build field lookup by model\nconst fieldsByModel = {};\nfor (const field of modelFields) {\n  const modelName = field.model;\n  if (!fieldsByModel[modelName]) {\n    fieldsByModel[modelName] = new Set();\n  }\n  fieldsByModel[modelName].add(field.name);\n}\n\n// Validate views\nconst problems = [];\nconst fieldNameRegex = /<field\\s+name=\"([^\"]+)\"/g;\n\nfor (const view of views) {\n  const modelName = view.model;\n  const viewName = view.name;\n  const archXml = view.arch_db || '';\n  \n  // Extract all field names from view XML\n  let match;\n  while ((match = fieldNameRegex.exec(archXml)) !== null) {\n    const fieldName = match[1];\n    \n    // Check if field exists in model\n    if (fieldsByModel[modelName] && !fieldsByModel[modelName].has(fieldName)) {\n      problems.push({\n        view_name: viewName,\n        model: modelName,\n        invalid_field: fieldName,\n        severity: 'error'\n      });\n    }\n  }\n}\n\n// Return validation results\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    total_views_checked: views.length,\n    total_problems: problems.length,\n    problems: problems.slice(0, 20), // Limit to first 20 for notification\n    summary: problems.length === 0 \n      ? 'All views validated successfully'\n      : `Found ${problems.length} invalid field reference(s) in views`\n  }\n};"
      },
      "name": "Function - View Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.total_problems}}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "name": "If - No Problems Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$credentials.mattermostWebhook.webhookUrl}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"✅ **Odoo View Healthcheck - All Clear**\\n\\nTimestamp: {{$json.timestamp}}\\nViews Checked: {{$json.total_views_checked}}\\nProblems Found: {{$json.total_problems}}\\n\\nAll views validated successfully. No invalid field references detected.\",\n  \"username\": \"View Healthcheck Bot\",\n  \"icon_emoji\": \":white_check_mark:\"\n}",
        "options": {}
      },
      "name": "Mattermost - Success Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 200],
      "credentials": {
        "mattermostWebhookApi": {
          "id": "2",
          "name": "Mattermost Finance Alerts"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$credentials.mattermostWebhook.webhookUrl}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"⚠️ **Odoo View Healthcheck - Issues Detected**\\n\\nTimestamp: {{$json.timestamp}}\\nViews Checked: {{$json.total_views_checked}}\\nProblems Found: {{$json.total_problems}}\\n\\n**Summary**: {{$json.summary}}\\n\\n**Top Issues**:\\n{{$json.problems.map(p => `- **${p.model}** (${p.view_name}): Invalid field \\`${p.invalid_field}\\``).join('\\\\n')}}\\n\\n**Action Required**: Review and fix invalid field references in Odoo views.\\n[Odoo Settings → Technical → User Interface → Views](https://erp.insightpulseai.net/web#menu_id=XX&action=XX)\",\n  \"username\": \"View Healthcheck Bot\",\n  \"icon_emoji\": \":warning:\"\n}",
        "options": {}
      },
      "name": "Mattermost - Problems Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 400],
      "credentials": {
        "mattermostWebhookApi": {
          "id": "2",
          "name": "Mattermost Finance Alerts"
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger - 3 AM PHT Daily": {
      "main": [
        [
          {
            "node": "Odoo XML-RPC - Get Views",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo XML-RPC - Get Views": {
      "main": [
        [
          {
            "node": "Odoo XML-RPC - Get Model Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo XML-RPC - Get Model Fields": {
      "main": [
        [
          {
            "node": "Function - View Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - View Validator": {
      "main": [
        [
          {
            "node": "If - No Problems Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - No Problems Found": {
      "main": [
        [
          {
            "node": "Mattermost - Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mattermost - Problems Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Asia/Manila"
  },
  "versionId": "1",
  "id": "902"
}
